<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit" value="Ask!" id="btn">
</form>

<!-- params = {
  names of inputs are keys to param: user_input
  e.g:
  question: hello
} -->
